:root{
    --mainColor:#459eb9bb;
    --secondMain: rgba(236, 225, 101, 0.63);
    --thirdMain: #ACD2ED;
    --mainColor2: #E1E289;
    --secondMain2:#99AA38;
    --thirdMain2:#ACD2ED;
}
*{
    box-sizing: border-box;
}
body {
    background:var(--thirdMain);
    margin: 0;
    padding:0;
    line-height: 1.5;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #0A210F;
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
    position: absolute;
    
}
.container{
    background:var(--mainColor);
    text-align:center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 15px;
    /*padding-top: 20px;*/
    box-shadow: 1px 1px 3px rgb(99, 91, 91);
    padding-bottom: 4px;
    position: relative;
    top:4px;
}

#nodeContainer{
    display: grid;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
span{
    font-weight: bolder;
    font-size: 1.1em;
    padding:40px;
    text-align: center;
}
section {
    list-style: none;
    padding:10px;
    padding-bottom: 10px;
    border: 2px solid rgba(23, 46, 48, 0.8);;
    margin-top: 10px;
    margin-left: 0px;    
    box-shadow: 1px 1px 3px rgb(99, 91, 91);
    background-color: var(--thirdMain);;
}
section a{
    font-size: 1em;
    text-align:justify;
    text-decoration: none;

}
.box{
    background: var(--secondMain);;
    padding: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 3px rgb(99, 91, 91);
    margin-bottom: 15px;
    border-radius: 12px;
}
footer{
    font-size: smaller;
    padding: 5px;
}
footer a {
    text-decoration: none;
}
.head{
    background: var(--thirdMain);;
    margin:0;
    padding: 10px;
    margin-bottom: 20px;
    text-align: initial;
    box-shadow: 3px 3px 3px 2px rgba(20, 20, 23, 0.2);
    position: fixed;
    width: 100%;
    z-index: 999;
 }
.boxes{
    border-radius: 12px;
}
#currentWeek{
    position: relative;
    margin-top: 40px;
    top:10px;
}
img{
    width: 60%;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 2px 1px rgba(20, 20, 23, 0.5);
    margin: 10px auto;
    border-radius: 7px;
}
h2{
    font-family: 'Playfair Display', serif;
    font-style: italic;
}
.italic{
    font-style: italic;
}
hr{
    width: 90%;
    text-align: center;
    margin-right: 13px;
}
section:hover{
    transform:scale(1.1);
    transition: transform 1s;
}
section:focus{
    transform:scale(1.1);
}
a{
    cursor: pointer;
}
a:link{
    color: #0000FF;
}
a:visited{
    color: #5e173a;
}
a:focus{
    color: orange;
}
a:hover{
    color: white;
}
a:active{
    color:cyan;
}

@media(min-width: 650px){
    #nodeContainer{
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }
    section{
        margin: 5px;
    }
    span{
        font-size: 1em;
    }
    footer{
        font-size: 0.8em;
    }
    .head{
        font-size: 1.2rem;
    }
}
@media(min-width: 650px){
    #nodeContainer{
        display: grid;
        align-items: center;
        grid-gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(min-width: 850px){
    #nodeContainer{
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(3, 1fr);
    }
    .head{
        font-size: 1.5rem;
    }
}
