body {
    background: #E1E289;
    margin: 0;
    line-height: 1.5;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    color: #0A210F;
    width: 100%;
    height: 100%;
    
}
.container{
    background: #99AA38;
    text-align:center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-right: 30px;
    padding-top: 20px;
    box-shadow: 1px 1px 3px rgb(99, 91, 91);
}
span{
    font-weight: bolder;
    font-size: 1.1em;
    padding:40px;
    text-align: center;
}
li {
    list-style: none;
    padding:10px;
    border: 2px solid rgba(23, 46, 48, 0.8);;
    margin-top: 10px;
    margin-left: 0px;    
    box-shadow: 1px 1px 3px rgb(99, 91, 91);
    background-color: #E1E289;
}
li a{
    font-size: 1em;
    text-align:justify;
    text-decoration: none;

}
.box{
    background: #ACD2ED;
    padding: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-left: 50px;
    margin-right: 10px;
    box-shadow: 1px 1px 3px rgb(99, 91, 91);
}
footer{
    font-size: smaller;
    padding: 1px;
    padding-bottom: 10px;
}
footer a {
    text-decoration: none;
}
h2{
    padding:20px;
    background: #E1E289;
    padding-right: 30px;
    margin: 20px;
    margin-left:50px;
    box-shadow: 2px 2px 3px rgb(78, 71, 71);
}
hr{
    width: 90%;
    text-align: center;
    margin-right: 13px;
}
li:hover{
    transform:scale(1.1);
}
li:focus{
    transform:scale(1.1);
}
a:default{
    color: #acd3ed;
}
a:visited{
    color: brown;
}
a:focus{
    color: orange;
}
a:hover{
    color: white;
}
a:active{
    color:cyan;
}

@media(min-width: 650px){
    ul{
        display: grid;
        grid-gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }
    li{
        margin: 5px;
    }
    span{
        font-size: 1em;
    }
    footer{
        font-size: 0.8em;
    }
}
